$cor-menu:#F3EEC3; //cor menu
$cor-titulo:#FF715B; //cor fonte
$cor-fundo-item1:#1B3B6F; //cor de botao
$cor-fundo-item2:#F4F4F8; //cor de fundo do conteudo
$cor-font-item3:#21A0A0;//cor rodape e banner
$cor-transicao:#F4F4F8;//cor de transição
$cor-sombra1:black;//cor box shadow
$cor-sombra2:gray;//cor box shadow


