@import '../cores';
@import '../fonts/fontes';

#inicio{
    display:flex;
    flex-direction: column;
    //margin:  6px 250px;
    // border-radius: 40px;
    
    #banner{
        background-color: $cor-font-item3;
        .paginaPrincipal{
            img{
                margin-top: auto;
                width: 100px;
                height: 100px;
            }
            
            h1{ 
                font-size: 60px;
                color:#050303c9;
                text-align: center;
                margin-left: 50px;
                display: inline-block;
                font-family: $fonte-decorativa;
            }
            .titulo{
                    color: white;
                    text-align: center;
                    font-family: $fonte-decorativa;
            } 
        }
    } 
    #all{
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: $cor-fundo-item2;
        padding-left: 40px; 
        
        #home{
            font-family: $fonte-padrao;
            
        #perfil{
            width: 130px;
            height: 120px;
            border-radius: 50%;
        }
    }
    }
    
    #rodape{
        padding-left: 40px;
        color: white;
        background-color: $cor-font-item3;
    }
 }
 