$cor-menu:#006D77; //cor menu
$cor-titulo:#071013; //cor fonte
$cor-fundo-item1:#f72c25; //cor de botao
$cor-fundo-item2:#fcf6b1; //cor de fundo do conteudo
$cor-font-item3:#F7B32B;//cor rodape e banner


//#08415C indigo blue
//#439A86 polished pine
//#006D77 ming