$cor-menu:#BB4430; //cor menu
$cor-titulo:#1E212B; //cor fonte
$cor-fundo-item1:#E6AF2E; //cor de botao
$cor-fundo-item2:#60D394; //cor de fundo do conteudo
$cor-font-item3:#F7B32B;//cor rodape e banner


