body {
    margin:  10px 250px;
    padding: 20px;
}

@media screen and (max-width: 1024px){
    body {
        margin: 0px;
        padding: 0px;
    }

}
@media screen and (max-width: 1024px){
    body {
        margin: 0px;
        padding: 0px;
    }
}
